body{
    margin: 0;
    padding: 0;
}
.background{
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 50%;
    overflow-y: scroll;
}

.object p:hover{
    color: #5C9CF6 !important;
}