*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Poppins;
}

.nav{
    margin: -6px;
    display: flex;
}
.nav-link{
    color: #000000;
    margin-right: 5px;
    /* background-color: #E4C988; */
    border-radius: 15px;
}

.middle{
    display: flex;
    margin-top: -47px;
    /* margin-bottom: 100px; */
    flex-direction: row;
}

.daftar{
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 100px;
    margin-right: 135px;
}

.text-daftar-1{
    font-weight: bold;
    font-size: 75px;
}

.text-daftar-2{
    margin-top: -25px;
    font-weight: bold;
    font-size: 25px;
}

.picture{
    /* background-color: #E4C988; */
    width: 100%;
    height: 100%;
}

.button{
    display: flex;
    flex-direction: row;
    /* margin-left: 25px; */
}

.btn-outline-dark{
    background-color: #E4C988; 
    border: none;
    color: white;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin: 5px 7px;
    border-radius: 10px;
}

#svg{
    float: left;
    margin-top: -10px;
}
#riwayat{
    margin-left: 10px;
}
#tp{
    margin-right: 650px;
}
#ds{
    background-color: #84D2C5;
    color: white;
}
#log{
    background-color: #E4C988;
    color: white;
}

.img-fluid{
    background-color: #E4C988;
    margin-left: -39px;
    padding-top: 10%;
    width: 90.5%;
    height: 100%;
}