.w-10sen {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 135%;
}
.nav-item{
  font-size: 14px;
}
#ds:hover{
  background-color: #6A826A;
  border-radius: 15px;
}
#acc:hover{
  background-color: #3D2B22;
  border-radius: 15px;
}

.btn {
  /* padding: 8px 12px !important; */
  border-radius: 8px !important;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
}
.btn--blue {
  background-color: #84d2c5;
}
.btn--blue:hover {
  background-color: #40b09d;
  color: #fff !important;
}
.btn--gold {
  background-color: #e4c988;
}
.btn--gold:hover {
  background-color: #d1a335;
  color: #fff !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.text-gold {
  color: #e4c988;
}

.text-darkgold {
  color: #b99b6c;
}

.text-blue {
  color: #84d2c5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
}

/* .navbar {
  height: 75px;
  min-height: 75px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}
.navbar-brand {
  margin-right: 47px;
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.nav-link {
  color: #000;
}
.nav-link:hover {
  color: #000 !important;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
} */

.jumbotron {
  position: relative;
  margin-top: 0px;
  min-height: 100vh;
  background: url("../img/jumbotron-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.jumbotron__container {
  margin-top: -6rem;
  display: flex;
  justify-content: flex-end;
}
.jumbotron__subtitle {
  font-size: 35px;
  color: #fff;
  font-weight: 700;
}
.jumbotron__title {
  font-size: 67px;
  font-weight: 700;
  color: #fff;
  padding: 0.5rem 1.5rem;
  background-color: #e4c988;
  border-radius: 13px;
}
.jumbotron #overlay-scroll {
  position: absolute;
  top: 75vh;
  left: 50px;
  width: 55px;
}

.services {
  padding: 88px 0px;
}
.services__header {
  margin-bottom: 88px;
  text-align: center;
}
.services h4 {
  font-size: 26px;
  font-weight: 700;
}
.services__card-1 {
  border-radius: 0.5rem;
  padding: 2rem 1rem;
  text-align: center;
  background-image: url("../img/services1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.services__card-2 {
  border-radius: 0.5rem;
  padding: 2rem 1rem;
  text-align: center;
  background-image: url("../img/services2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.services__card-3 {
  border-radius: 0.5rem;
  padding: 2rem 1rem;
  text-align: center;
  background-image: url("../img/services3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
}
.services__card-3 h4 {
  margin-bottom: 0;
}
.services__card-3 h1 {
  color: #e4c988;
  font-size: 55px;
  text-shadow: 0 8px 6px #000;
}

.journey {
  padding: 5rem 0;
}
.journey__container {
  position: relative;
  z-index: 2;
}
.journey__container::before {
  content: "";
  background-color: #eee;
  width: 90%;
  height: 120%;
  position: absolute;
  top: -2.5rem;
  right: 0;
  z-index: -1;
  padding: 2rem;
  border-radius: 13px;
}
.journey__left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.journey__left img {
  width: 90%;
  height: 80%;
  border-radius: 12px;
}
.journey__right {
  padding: 0 1rem;
}
.journey__right .horizontal-line {
  height: 5px;
  display: inline-block;
  width: 106px;
  border-top: 3px solid #e4c988;
}
.journey__title {
  width: 90%;
  margin-top: 14px;
  gap: 14px;
  font-size: 26px;
}
.journey__description {
  font-size: 20px;
  width: 80%;
  text-align: justify;
}

.community {
  margin: 5rem 0;
  position: relative;
}
.community__container {
  display: flex;
}
.community__left {
  background-color: #b99b6c;
  flex: 1;
  border-radius: 16px 0 0 16px;
}
.community__content {
  padding: 3rem;
}
.community__content h1 {
  font-size: 26px;
  color: #fff;
}
.community__content .horizontal-line {
  height: 5px;
  display: inline-block;
  width: 128px;
  border-top: 3px solid #fff;
}
.community__description {
  margin-top: 16px;
  font-size: 20px;
  text-align: justify;
  color: #fff;
}
.community__right {
  flex: 1;
}
.community__right img {
  width: 100%;
  border-radius: 0 16px 16px 0;
}

/* .footer {
  padding: 1rem 0;
}
.footer__left {
  display: flex;
  align-items: center;
  gap: 22px;
}
.footer__left img {
  width: 64px;
}
.footer__left p {
  font-size: 14px;
}
.footer__right {
  display: flex;
  align-items: center;
  gap: 42px;
  justify-content: flex-end;
}
.footer__right li {
  list-style: none;
}
.footer__right li a {
  text-decoration: none;
} */

.storage {
  padding: 2.5rem 0;
}
.storage:nth-child(1) {
  margin-top: 5rem;
}
.storage:nth-child(even) {
  background-color: #b99b6c;
  color: white;
}
.storage__content > .row {
  margin: 2.5rem 0;
}
.storage__header {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-bottom: 5rem;
}
.storage__header h1 {
  font-size: 32px;
}
.storage__image img {
  border-radius: 32px;
  width: 100%;
}
.storage__detail {
  padding: 2rem;
}
.storage__detail h5 {
  font-size: 28px;
}
.storage__detail p {
  font-size: 20px;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 768px) {
  .navbar-brand {
    margin-left: 1rem;
  }
  .navbar-toggler {
    margin-right: 1rem;
  }
  .navbar .container {
    padding: 0;
  }
  .navbar-collapse {
    padding: 2rem;
    background-color: #fff;
  }
  .nav-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .jumbotron {
    background-position: 50% 50%;
  }
  .jumbotron h1 {
    font-size: 32px;
    text-align: center;
  }
  .jumbotron__container {
    justify-content: center;
  }
  #overlay-scroll {
    display: none;
  }
  .services__card-1,
.services__card-2,
.services__card-3 {
    display: block;
    width: 100%;
    margin: 1rem 0;
    aspect-ratio: 1/1;
  }
  .journey__container::before {
    width: 100%;
  }
  .journey__description {
    font-size: 16px;
  }
  .journey__left img {
    width: 100%;
  }
  .journey__right {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .journey__title {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .journey__description {
    width: 100%;
  }
  .community__description {
    font-size: 16px;
  }
  .community__container {
    display: flex;
    flex-direction: column-reverse;
  }
  .community__content {
    padding: 1.5rem;
  }
  .community__left {
    border-radius: 0 0 16px 16px;
  }
  .community-right {
    border-radius: 16px 16px 0 0;
  }
  .footer__right {
    margin: 0.5rem 0;
    justify-content: center;
    padding: 0;
  }
  .storage {
    padding: 1rem;
  }
  .storage__content > .row {
    margin: 1rem 0;
  }
  .storage__detail {
    padding: 1.5rem 0;
  }
  .storage__detail p {
    font-size: 16px;
  }
  .storage__header {
    width: 100%;
  }
  .storage__header h1 {
    font-size: 34px;
  }
  .storage h5 {
    font-size: 24px;
  }
}/*# sourceMappingURL=main.css.map */