*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: white;
    font-family: "Inter",sans-serif;
}

/* navbar */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #7C3E66;
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}


/* REVISI */
header .logo{
    font-weight: 600;
    font-size: 24px;
    color: white;
    color: #EEF3D2;
    margin-left: -75px;
}

header .navbar ul{
    list-style: none;
    margin-left: -50px;
    margin-right: 50px;
}

header .navbar ul li{
    position: relative;
    float: left;
}

/* REVISI */
header .navbar ul li a{
    font-size: 16px;
    padding: 17px;
    color: white;
    display: block;
    font-weight: 600;
}

/* REVISI */
header nav ul li .lang{
    font-weight: 400;
    margin-left: 290px;
    margin-right: -155px;
}

header nav ul li{
    /* margin-left: 15px; */

    margin-right: 15px;
}


/* .navbar :last-child{
    margin-left: 50px;
    margin-right: -25px;
} */

header nav ul li .active,header .navbar ul li a:hover{
    background-color: #947EC3;
}

header .navbar ul li ul{
    position: absolute;
    /* top: 85px; */
    left: 40px;
    /* margin: auto; */
    /* text-align: center; */
    
    
    width: 190px;
    background-color: #B689C0;
    display: none;
}

header .navbar ul li ul li{
    width: 100%;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;
}

#menubar{
    display: none;
}

header label{
    font-size: 20px;
    cursor: pointer;
    color:white;
    display: none;
}


@media only screen and (max-width:1180px){

    header{
        padding: 20px;
    }

    header label{
        display: initial;
        margin-right: 15px;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #B689C0;
        border-top: 1px solid rgba(0,0,0,0.1);
        display: none;
    }

    header .navbar a{
        margin-left: 80px;
        width: 100%;
    }

    header .navbar ul li{
        width: 100%;
    }

    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li{
        background: #B689C0;
    }

    header .logo{
        margin-left: 10px;
    }

    #menubar:checked~.navbar{
        display: initial;
    }
}

@media only screen and(max-width: 884px){
    header label{
        margin-left: 150px;
    }

    header label{
        display: initial;
        margin-right: 200px;
    }
}

/* content */
/* .containergrid{
    max-width: 1440px;
    margin: auto;
    margin-top: 150px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 150px;
}

.containergrid h2{
    margin-bottom: 30px;
    color: #947EC3;
    font-weight: 600;
    font-size: 32px;
}

.grid{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-columns: (100px,auto);
    grid-auto-rows: minmax(100px,auto);
    column-gap: 1em;
}

.griditems{
    font-weight: 400;
}

.grid>div:nth-child(even) h4{
    font-weight: 400;
    font-size: 24px;
}

.grid>div:nth-child(even)p{
    font-weight: 400;
    font-size: 16px;
}

.grid>div:nth-child(1){
    background: #E5E5E5;
}

.grid>div:nth-child(odd){
    border-radius: 10px;
}

.grid>div:nth-child(even){
    align-self: center;
}

.griditems img{
    width: 228px;
    height: 228px;
    border-radius: 10px;
} */


.containergrid{
    margin: auto;
    margin-top: 150px;
    margin-bottom: 100px;
    max-width: 1300px;
}

.containergrid h1{
    text-align: center;
    color: #7C3E66;
    font-weight: 600;
    margin-bottom: 80px;
}

.griditem1,.griditem2,.griditem3{
    scale: 1.1;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}

.box{
    border: 2px solid black;
    border-radius: 10px;
    padding-bottom: 20px;
}

.box img{
    width: 100%;
}

.box h4{
    margin: auto;
    padding: 0px 25px 0px;
    font-weight: 500;
}

.box p{
    margin: auto;
    padding:7px 25px 7px;
    font-size: 18px;
    font-weight: 400;
}


.rating{
    margin-top: 10px;
    padding: 0px 25px 10px;
}

.box img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 20px;
}

.btn{
    margin: auto;
    color: white;
    text-align: center;

    padding: 5px 5px 5px;
    /* padding: 2px; */
    background-color:#243A73;
    border-radius: 10px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
}

.btn:hover{
    background-color: #19284f;
    cursor: pointer;
}

@media only screen and (max-width:884px){
    .grid{
        grid-template-columns: 1fr;
    }

    .griditem1{
        grid-column: 1/2;
        width: 300px;
        scale: 1;
    }

    .box{
        width: 300px;
    }

    .griditem2{
        grid-column: 1/2;
        scale: 1;
        margin: 50px 0 50px;
    }
    .griditem3{
        grid-column: 1/2;
        scale: 1;
    }

    br{
        display: none;
    }
}

.rating{
    color: #FFD84D;
}

/* footer */
.row1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container{
    max-width: 1000px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}

.footer{
    background: #243A73;
    color: #6A67CE;
    font-size: 16px;
    padding: 30px 0 30px;
    
}

.footer h1{
    margin-bottom: 30px;
    color: white;
}

.footer-col-2 i, .footer-col-1 i{
    color: white;
}

.footer-col-2 p{
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}

.footer-col-1 p{
    margin-top: 5px;
    margin-bottom: 10px;
    color: white;
    
}

.footer-col-2{
    margin-top: 30px;
}



.brand{
    margin-bottom: 25px;
}


@media only screen and (max-width:600px){
    .row1{
        text-align: center;
    }
}